.calculo {
  grid-area: calculo;
  background-color: var(--display-background);
  color: var(--text-color);
  margin: 5px;
  font-size: 2em;
  border-radius: 8px;
  border: 0;
  outline: none;
  padding-left: 1rem;
}

.bDivide {
  grid-area: bDivide;
}

.bClear {
  grid-area: bClear;
  background-color: var(--clear-background);
  color: var(--text-color);
}

.bMultiply {
  grid-area: bMultiply;
}

.bInvert {
  grid-area: bInvert;
}

.bLess {
  grid-area: bLess;
}

.bEqual {
  grid-area: bEqual;
  background-color: var(--equal-background);
  color: var(--text-color);
}

.b0 {
  grid-area: b0;
}

.bDot {
  grid-area: bDot;
}

.bPlus {
  grid-area: bPlus;
}
